<footer class="h-footer">
	<div class="container-fluid">
	<div class="col-sm-5 col-xs-12">
		<div class="bigname">思睿致远信息咨询（北京）有限公司</div>
	</div>
	<div class="col-sm-7 col-xs-12">
		<div class="footer-nav-wrap clearfix">
			<ul class="footer-nav">
				<li class="nav-item">联系电话：010-88888888</li>
				<li class="nav-item">公司邮箱：xxxxxxxxxxxxx</li>
				<li class="nav-item">公司地址：Xxxxxxxxxxxxx</li>
				<li class="nav-item">Copyright:xxxxxxxxxx</li>
				<li class="nav-item">备案号:xxxxxxxxxxxxx</li>
			</ul>
		</div>
	</div>
	</div>
</footer>